.display[data-v-baac018e]{height:25vh}

/*!* Regions *!*/

/*!* Region handles *!*/

/*!* Labels *!*/.wavesurfer-label[data-v-baac018e]{display:none;position:absolute;transform:translateY(-100%);z-index:10;border:1px solid #ddd;background:rgba(153,102,0,.1);box-sizing:border-box}.wavesurfer-label input[data-v-baac018e]{margin:3%;width:94%}